
@keyframes moveInLeft {
    /* start */
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }
    /* fin */
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    /* start */
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }
    /* fin */
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveInBottom {
    /* start */
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }

    80% {
        transform: translateY(-1rem);
    }
    /* fin */
    100% {
        opacity: 1;
        transform: translate(0);
    }
}