*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}

/* this is now our root font size */
html {
    /* font-size: 10px; */
    /* we are using a percent instead of pixels */
    /* by default, the browser font size is 16px, but in the case that someone changes their font size like if they have bad eyesight, our other declared values can be responsive to this change */
    font-size: 62%;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 3rem;
    box-sizing: border-box;
}