*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* this is now our root font size */
html {
  /* font-size: 10px; // or 1rem */
  /* we are using a percent instead of pixels */
  /* by default, the browser font size is 16px, but in the case that someone changes their font size like if they have bad eyesight, our other declared values can be responsive to this change */
  font-size: 62%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box; }

@keyframes moveInLeft {
  /* start */
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  /* fin */
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  /* start */
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  /* fin */
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  /* start */
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  80% {
    transform: translateY(-1rem); }
  /* fin */
  100% {
    opacity: 1;
    transform: translate(0); } }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  /* !!!! this property helps prevent element from being shaky when animated */
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    /* span el is inline by default, it is a text el */
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: .7s;
    animation-timing-function: ease-out;
    /* /////// just for reference.... */
    /* animation-delay: 1s; */
    /* animation-iteration-count: 3; */ }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    /* short hand for the animation name, duration, and timing function */
    animation: moveInRight .7s ease-out; }

.btn {
  /* on click */ }
  .btn--white {
    background-color: #fff;
    color: #777; }
    .btn--white:after {
      background-color: #fff; }
  .btn--animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards; }
  .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem; }
  .btn:hover {
    transform: translateY(-3px);
    /* x y */
    box-shadow: 0 1rem 2rem rgba(51, 51, 51, 0.2); }
    .btn:hover:after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(51, 51, 51, 0.2); }
  .btn:after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.7), rgba(40, 180, 133, 0.7)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  /* x y values, starting at the top left */
  /* first pair/cornerbegins at 0 0 */
  /* the 2nd pair */
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
  .header__logo-box {
    position: absolute;
    /* the following px are inheriting the relative positioning from the parent el 'header' */
    top: 4rem;
    left: 4rem; }
  .header__logo {
    /* width is then automatically determined by the browser */
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    /* % of the height */
    top: 35%;
    /* % of the width of the parent element */
    left: 50%;
    /* transform applies to the element itself, not relative to the parent */
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  background-color: rgba(119, 119, 119, 0.7);
  margin: 0 auto;
  color: #fff; }
  .row:not(:last-child) {
    margin-bottom: 4rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2);
    background-color: aquamarine;
    float: left; }
    .row .col-1-of-2:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
